* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ece5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 5rem;
}

.board-container {
  position: relative;
  width: fit-content;
}

.outer-board-image {
  z-index: 0;
}

.main-board-container {
  position: absolute;
  top: 46%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  z-index: 10;
}

.tile-container {
  position: absolute;
  top: 18px;
  left: 28px;
  z-index: 10;
  display: grid;
  grid-template-columns: 255px 255px 255px;
  gap: 0px;
}

#tile_00 {
  overflow: hidden;
  border-top-left-radius: 47px;
}
#tile_02 {
  overflow: hidden;
  border-top-right-radius: 50px;
}
#tile_20 {
  overflow: hidden;
  border-bottom-left-radius: 48px;
}
#tile_22 {
  overflow: hidden;
  border-bottom-right-radius: 52px;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
}
.active {
  background-color: rgba(255, 255, 255, 0.4);
}
#planet-score {
  font-size: 80px;
  font-weight: 500;
}
#star-score {
  font-size: 80px;
  font-weight: 500;
}

.score-container {
  display: grid;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

#restart-button {
  width: 100px;
  height: auto;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

#restart-button:hover {
  transform: rotate(360deg) scale(1.2);
}

.each-tile-container {
  position: relative;
  height: 257px;
}

.star {
  background: url("./assets/star/star-fill.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.planet {
  background: url("./assets/planet/planet-fill.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.empty {
  background: url("./assets/slot-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.empty:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/planet/planet-hover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  pointer-events: none;
}
